.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .App-container {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;

    .map-charts {
      background-color: #22283180;
      position: absolute;
      top: 0;
    }
  }
}
